@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-50 text-gray-900 dark:bg-[#17181D] dark:text-gray-100;
		@apply min-h-screen;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
/* main - #E09145 */
/* main2 -  #FCD9B8 */
/* Primary - #17181D */
/* Secondary - #292C35 */
