@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gray-100 text-[#292C35] dark:bg-[#17181D] dark:text-gray-100;
	}
}
@layer components {
	.hoverAnimation {
		@apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:py-3 xl:px-4 transition duration-200 ease-out;
	}

	.icon {
		@apply cursor-pointer w-9 h-9 hover:bg-[#028ce8] hover:bg-opacity-20 flex items-center justify-center rounded-full transition ease-out;
	}

	.active {
		@apply bg-[#028ce8] bg-opacity-20;
	}

	.btnPrimary {
		@apply btn mx-4 btn-primary dark:bg-primary text-white rounded-xl hover:bg-transparent;
	}
	.btnSecondary {
		@apply w-full h-10 hover:bg-primary-focus hover:border-none rounded-t-none bg-primary text-white rounded-b-lg font-medium;
	}

	.tag {
		@apply text-[#1d9bf0] font-normal cursor-pointer hover:underline;
	}
	.title {
		@apply font-semibold pt-8 pb-2 px-4 text-primary dark:text-primary;
	}
	.section__title {
		@apply font-extrabold text-transparent bg-clip-text text-5xl bg-gradient-to-bl dark:from-white from-slate-900 dark:to-primary to-primary pt-4 px-4;
	}
}

a {
	color: inherit;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
